############################
# UNITY #
############################

# Folders
[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
MemoryCaptures/
UserSettings/

# Addressables
Assets/AddressableAssetsData/*/*.bin*

############################
# RIDER / VS #
############################

.idea/
.vs/

*.csproj
*.unityproj
*.sln
*.suo
*.tmp
*.user
*.userprefs
*.pidb
*.booproj
*.svd

############################
# WINDOWS #
############################

Thumbs.db
Desktop.ini

############################
# MAC #
############################

.DS_Store

############################
# UNITY CACHE SERVER #
############################

*.cache